.newSessionButton {
  background-color: #B21ED7;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  height: 36px;
  border-radius: 18px;
  padding-left: 32px;
  padding-right: 32px;
  outline: none;
  box-shadow: none;
  margin-top: 16px;
  font-size: 12px;
  cursor: pointer;
}