@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600,700');

h4, p {
  margin: 0;
}

 body{
   background-color: #121212;
 }
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.App-header {
  min-height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
